---
import Layout from "../layouts/Layout.astro";
import NavBar from "@/sections/NavBar.astro";
import Hero from "@/sections/Hero.astro";
import About from "@/sections/About.astro";
import Beneficos from "@/sections/Beneficios.astro";
import FAQ from "@/sections/FAQ.astro";
import Contacto from "@/sections/Contacto.astro";
---

<Layout title="OSPET">
  <main>
    <NavBar />
    <Hero />
    <About />
    <Beneficos />
    <FAQ />
    <Contacto />
  </main>
</Layout>

<style></style>
