---
import Layout from "../layouts/Layout.astro";
import NavBar from "@/sections/NavBar.astro";
import Hero from "@/sections/Hero.astro";
---

<Layout title="OSPET">
  <main>
    <NavBar />
    <Hero />
  </main>
</Layout>

<style></style>
