---
import Layout from "../layouts/Layout.astro";
import NavBar from "@/sections/NavBar.astro";
import Planes from "@/sections/Planes.astro";
---

<Layout title="OSPET">
  <main>
    <NavBar />

    <Planes />
  </main>
</Layout>

<style></style>
