---

---

<section class="limit">
  <div class="grid grid-cols-2 shadow-2xl">
    <div>
      <img src="hero-image.jpg" alt="" class="rounded-l-xl w-full h-full" />
    </div>
    <div
      class="flex justify-center flex-col px-12 py-12 bg-ospet-main rounded-r-xl gap-8"
    >
      <h2 class="text-ospet-text text-5xl font-extrabold text-primary">
        ¿Qué es OsPET?
      </h2>
      <p class="text-ospet-paragraph text-xl text-sub font-semibold">
        OsPET es una obra social para el cuidado de mascotas, que ofrece
        atención médica de primer nivel. Contamos con planes que cubren todos
        los servicios según las necesidades individuales de cada dueño. Nuestros
        planes están creados con el objetivo de mejorar la calidad de vida de tu
        mascota, priorizando la medicina preventiva, al mismo tiempo que te
        ayudan a minimizar tus gastos. Además, garantizamos cobertura integral
        para cualquier eventualidad, desde cirugías e internaciones hasta
        consultas con especialistas veterinarios. Tu tranquilidad y la salud de
        tu mascota son nuestra prioridad en OsPET
      </p>
    </div>
  </div>
</section>
