---

---

<section>
  <div class="bg-gray-200">
    <h3 class="text-black text-3xl font-bold text-center">
      CLUB DE BENEFICIOS DE LA OBRA SOCIAL
    </h3>
    <h4 class="text-black text-xl font-semibold text-center">
      Disfutá de éstos y muchos más beneficios exclusivos
    </h4>
    <div class="grid grid-cols-4 text-primary">
      <div class="flex flex-col justify-center items-center">
        <i class="fa-solid fa-paw text-6xl"></i>
        <p class="text-black text-xl font-bold">Alimentos</p>
      </div>
      <div class="flex flex-col justify-center items-center">
        <i class="fa-solid fa-paw text-6xl"></i>
        <p class="text-black text-xl font-bold">Alimentos</p>
      </div>
      <div class="flex flex-col justify-center items-center">
        <i class="fa-solid fa-paw text-6xl"></i>
        <p class="text-black text-xl font-bold">Alimentos</p>
      </div>
      <div class="flex flex-col justify-center items-center">
        <i class="fa-solid fa-paw text-6xl"></i>
        <p class="text-black text-xl font-bold">Alimentos</p>
      </div>
    </div>
    <div class="flex justify-center">
      <button
        type="button"
        class="py-4 px-6 bg-ospet-primary hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white transition ease-in duration-200 text-center text-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg text-sub font-bold text-xl"
      >
        Ver planes
      </button>
    </div>
  </div>
</section>
