---

---

<section class="bg-white">
  <div style="max-width: 1400px; margin:0 auto">
    <h1 class="text-ospet-text text-3xl font-bold text-center">
      ¿Quieres saber más?
    </h1>
    <h1 class="text-ospet-text text-3xl font-bold text-center">
      Cuéntanos más sobre vos y tu mascota y nos pondremos en contacto
    </h1>

    <form action="#">
      <div class="grid grid-cols-2 gap-4">
        <input
          type="text"
          id="create-account-pseudo"
          class="rounded-lg border-transparent flex-1 appearance-none border-2 border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400"
          name="pseudo"
          placeholder="Nombre"
        />
        <input
          type="text"
          id="create-account-pseudo"
          class="rounded-lg border-transparent flex-1 appearance-none border-2 border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400"
          name="pseudo"
          placeholder="Apellido"
        />
      </div>
      <div class="grid grid-cols-2 gap-4">
        <input
          type="text"
          id="create-account-pseudo"
          class="rounded-lg border-transparent flex-1 appearance-none border-2 border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400"
          name="pseudo"
          placeholder="Teléfono"
        />
        <input
          type="text"
          id="create-account-pseudo"
          class="rounded-lg border-transparent flex-1 appearance-none border-2 border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400"
          name="pseudo"
          placeholder="Email"
        />
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="flex">
          <button
            class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-l focus:bg-gray-300 w-full"
            >Perro</button
          >
          <button
            class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-r focus:bg-gray-300 w-full"
            >Gato</button
          >
        </div>

        <div class="flex">
          <button
            class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-l focus:bg-gray-300 w-full"
            >Macho</button
          >
          <button
            class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-r focus:bg-gray-300 w-full"
            >Hembra</button
          >
        </div>
      </div>
      <div class="grid grid-cols-3 gap-4">
        <input
          type="text"
          id="create-account-pseudo"
          class="rounded-lg border-transparent flex-1 appearance-none border-2 border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400"
          name="pseudo"
          placeholder="Nombre"
        />

        <input
          type="text"
          id="create-account-pseudo"
          class="rounded-lg border-transparent flex-1 appearance-none border-2 border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400"
          name="pseudo"
          placeholder="Edad"
        />

        <input
          type="text"
          id="create-account-pseudo"
          class="rounded-lg border-transparent flex-1 appearance-none border-2 border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400"
          name="pseudo"
          placeholder="Raza"
        />
      </div>
    </form>
  </div>
</section>

<!-- 
<section style="height: 100vh;
overflow: hidden;
position: relative;">
  <div class="container">
    <div class="pattern"></div>
    <div class="pattern-overlay"></div>
  </div>
</section>
<style>
  @keyframes pan {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }

  .container {
    background: radial-gradient(
      rgb(var(--light-gold-rgb)),
      rgb(var(--dark-gold-rgb))
    );
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .pattern {
    background-image: url("alimentos_grid_2.png");
    background-size: 10%;
    z-index: 1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.1;
    animation: pan 90s linear infinite;
    will-change: background-position;
  }
</style> -->
