---
import FAQItem from "@/components/FAQ/FAQItem.astro";
---

<section class="limit">
  <h3 class="text-ospet-text text-3xl font-bold text-center py-8">
    Preguntas frecuentes
  </h3>

  <FAQItem
    titulo={"¿Cuándo puede mi mascota usar el servicio?"}
    body={"TODO"}
  />
  <FAQItem titulo={"¿Cómo funciona el reintegro?"} body={"TODO"} />
  <FAQItem titulo={"¿Cuál es la zona de cobertura?"} body={"TODO"} />
  <FAQItem titulo={"¿Puedo darme de baja?"} body={"TODO"} />
  <FAQItem
    titulo={"¿Tengo que pagar algún adicional por la consulta?"}
    body={"TODO"}
  />
  <FAQItem
    titulo={"¿Qué requisitos necesita mi mascota para ingresar a OsPET?"}
    body={"TODO"}
  />
</section>
