---

---

<!-- TODO resumir items -->
<section>
  <div class="w-full relative">
    <picture>
      <source media="(max-width: 768px)" srcset="hero-image-2_mobile.jpeg" />
      <source media="(min-width: 769px)" srcset="hero-image-2-copia.jpg" />
      <img
        src="hero-image-2-copia.jpg"
        alt="OSPET"
        srcset=""
        class="w-full object-cover"
      />
    </picture>
    <div class="absolute inset-0 flex items-center justify-dtart wrapper">
      <div class="text-left text-white">
        <h1 class="text-4xl font-bold mb-4">
          Comprometidos con el bienestar animal
        </h1>
        <ul class="font-extrabold text-sub text-3xl">
          <li class="my-4">
            <i
              class="fa-solid fa-paw text-ospet-accent fa-rotate-by"
              style="--fa-rotate-angle: 30deg;"></i>
            <span class="text-white"
              >Atención médica destacada por los mejores veterinarios.</span
            >
          </li>
          <li class="my-4">
            <i
              class="fa-solid fa-paw text-ospet-accent fa-rotate-by"
              style="--fa-rotate-angle: -10deg;"></i>
            <span class="text-white"
              >Planes personalizados adaptados a las necesidades de cada dueñoy
              sus mascotas.</span
            >
          </li>
          <li class="my-4">
            <i
              class="fa-solid fa-paw text-ospet-accent fa-rotate-by"
              style="--fa-rotate-angle: -45deg;"></i>
            <span class="text-white"
              >Cobertura completa para cirugías, internaciones y consultas
              especializadas.</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .wrapper {
    margin-left: 4vw;
  }
</style>
