---

---

<section>
  <img
    src="hero-image.jpg"
    alt="OSPET"
    srcset=""
    class="aspect-video relative top-0 left-0"
  />
  <div
    class="ml-40"
    style="position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate(0%,50%)"
  >
    <h1 class="text-white
    text-5xl
    font-extrabold">
      Comprometidos con el bienestar animal
    </h1>
    <ul class="font-bold text-sub text-2xl">
      <li>
        <div>
          <i class="fa-solid fa-paw text-white"></i>
          <span>Atención médica destacada por los mejores veterinarios.</span>
        </div>
      </li>
      <li>
        <div>
          <i class="fa-solid fa-paw text-white"></i>
          <span
            >Planes personalizados adaptados a las necesidades de cada dueñoy
            sus mascotas.</span
          >
        </div>
      </li>
      <li>
        <div>
          <i class="fa-solid fa-paw text-white"></i>
          <span
            >Cobertura completa para cirugías, internaciones y consultas
            especializadas.</span
          >
        </div>
      </li>
    </ul>

    <!-- <button
      type="button"
      class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white transition ease-in duration-200 text-center text-md font-bold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
    >
      ¡Pedir un presupuesto!
    </button> -->
  </div>
</section>
