---
import Logo from "@/components/Logo.astro";
---

<script>
  const button = document.getElementById("myButton");
  button.addEventListener("click", handleButtonClick);

  function handleButtonClick() {
    console.log("click");
  }
</script>

<section>
  <div
    class="header-wrapper relative w-full bg-ospet-background
     flex justify-between items-center z-10"
  >
    <div>
      <div class="ospet-logo-container">
        <Logo />
      </div>
    </div>
    <div class="flex items-center">
      <i id="myButton" class="fa-solid fa-bars block md:hidden text-4xl"></i>
      <a class="px-3 py-2 rounded-md hidden md:block" href="/planes/">
        Planes</a
      >
      <a class="px-3 py-2 rounded-md hidden md:block" href="/#"> Prestadores</a>
      <a class="px-3 py-2 rounded-md hidden md:block" href="/#"> Contacto</a>
      <a class="px-3 py-2 rounded-md hidden md:block" href="/#"> Autogestión</a>
      <button
        type="button"
        class="py-4 px-6 bg-ospet-button text-ospet-text text-center text-md rounded-lg hidden md:block"
      >
        ¡Pedir un presupuesto!
      </button>
    </div>

    <!-- <div class="flex items-center gap-8">
      <i id="myButton" class="fa-solid fa-bars block md:hidden text-4xl"></i>
      <div class="ospet-logo-container">
        <Logo />
      </div>
    </div>

    <div class="flex items-baseline ml-10 space-x-4 text-sub font-bold text-xl">
      <a class="px-3 py-2 rounded-md hidden md:block" href="/planes/">
        Planes</a
      >
      <a class="px-3 py-2 rounded-md hidden md:block" href="/#"> Prestadores</a>
      <a class="px-3 py-2 rounded-md hidden md:block" href="/#"> Contacto</a>
      <a class="px-3 py-2 rounded-md hidden md:block" href="/#"> Autogestión</a>
      <button
        type="button"
        class="py-4 px-6 bg-ospet-button text-ospet-text text-center text-md rounded-lg hidden md:block"
      >
        ¡Pedir un presupuesto!
      </button>
    </div> -->
  </div>
</section>

<style>
  .header-wrapper {
    padding: 2vw 4vw;
  }
  .ospet-logo-container img {
    max-width: 100%;
    max-height: 50px;
  }
  .links-container img {
  }
</style>
